@model HeladeriaWeb.Models.SaborHelado

<h2>Crear Sabor</h2>

<form method="post">
    <label>Nombre</label>
    <input name="Nombre" id="nombre" />

    <label>Descripción</label>
    <input name="Descripcion" id="descripcion" />

    <label>Precio</label>
    <input name="Precio" id="precio" />

    <button id="saveBtn">Guardar</button>
</form>
